<div class="sort-property">
  <mat-form-field appearance="outline" class="sort-property-field">
    <mat-select [(ngModel)]="this.sortProperty" (selectionChange)="emitSortOptionChanged()">
      @for (sortOption of sortProperties | keyvalue; track sortOption) {
        <mat-option [value]="sortOption.key">
          {{sortOption['value']['label']}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button type="button" class="sort-dir-button" (click)="toggleModeChange()" mat-icon-button>
    <mat-icon>{{descendingMode ? 'arrow_downward' : 'arrow_upward'}}</mat-icon>
  </button>
</div>
