<div class="settings-rows">
  <div class="settings-row">
    <span class="settings-row-text">
      <span class="settings-row-title" i18n="Select a version">Select a version</span>
      <span class="settings-row-hint">
        <ng-container i18n="Updater current version hint">Running</ng-container>&nbsp;{{currentVersionTag}}
      </span>
    </span>
    @if (versionsLoaded) {
      <app-picker [title]="versionLabel" [options]="versionOptions" [value]="selectedVersion"
        [disabled]="versionOptions.length < 2" (valueChange)="selectedVersion = $any($event)"></app-picker>
    } @else {
      <mat-spinner [diameter]="20"></mat-spinner>
    }
  </div>

  @if (canUpdateSelectedVersion()) {
    <div class="settings-row settings-row-actions">
      <button type="button" class="kit-chip kit-primary" (click)="updateServer()">
        <mat-icon>update</mat-icon>
        <span>
          @if (isSelectedVersionUpgrade()) {
            <ng-container i18n="Upgrade to version button">Upgrade to</ng-container>
          } @else {
            <ng-container i18n="Downgrade to version button">Downgrade to</ng-container>
          }
          {{selectedVersion}}
        </span>
      </button>
    </div>
  }
</div>
