<cdk-virtual-scroll-viewport [itemSize]="rowHeight" class="viewport" minBufferPx="1200" maxBufferPx="1200">
  <div class="notification-row" [class.is-unread]="!notification.read" *cdkVirtualFor="let notification of notifications">
    <span class="notification-symbol" [attr.data-type]="notification.type" aria-hidden="true">
      <mat-icon>{{NOTIFICATION_TYPE_ICON[notification.type]}}</mat-icon>
    </span>
    <div class="notification-text">
      <span class="notification-heading">
        <span class="notification-title">{{NOTIFICATION_PREFIX[notification.type]}}</span>
        @if (!notification.read) {
          <span class="notification-dot" [attr.aria-label]="unreadLabel"></span>
        }
      </span>
      @if (NOTIFICATION_SUFFIX_KEY[notification.type]) {
        <span class="notification-detail">{{notification['data'][NOTIFICATION_SUFFIX_KEY[notification.type]]}}</span>
      }
      <span class="notification-timestamp">{{notification.timestamp * 1000 | date:'short'}}</span>
    </div>
    <div class="notification-actions">
      @for (action of notification.actions; track action) {
        <button type="button" class="kit-icon-button" (click)="emitNotificationAction(notification, action)"
          [matTooltip]="NOTIFICATION_ACTION_TO_STRING[action]" [attr.aria-label]="NOTIFICATION_ACTION_TO_STRING[action]">
          <mat-icon>{{NOTIFICATION_ICON[action]}}</mat-icon>
        </button>
      }
      <button type="button" class="kit-icon-button" (click)="emitDeleteNotification(notification.uid)"
        [matTooltip]="removeLabel" [attr.aria-label]="removeLabel">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
